main, header, nav, footer, article, section, aside, figure, figcaption, fieldset, time {
  display: block; }

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }

.clearfix, .main_header, .top_nav ul, .wrap, .top_new header {
  zoom: 1; }
  .clearfix:before, .main_header:before, .top_nav ul:before, .wrap:before, .top_new header:before, .clearfix:after, .main_header:after, .top_nav ul:after, .wrap:after, .top_new header:after {
    content: '\0020';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0; }
  .clearfix:after, .main_header:after, .top_nav ul:after, .wrap:after, .top_new header:after {
    clear: both; }

.l, .main_header, .footer {
  padding: 0 10%; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue', 'HelveticaNeue', sans-serif; }

a {
  color: #404040; }

.smooth_link, .main_content a {
  text-decoration: none;
  border-bottom: 1px solid rgba(64, 64, 64, 0.5); }
  .smooth_link:hover, .main_content a:hover {
    color: #4d4d4d;
    border-bottom-color: #404040; }

img {
  width: 100%;
  height: auto; }

small {
  font-size: 75%; }

.main_header {
  position: relative;
  height: 70px;
  background: #93648d; }
  .main_header .logo {
    display: block;
    height: 100%;
    float: left; }
    .main_header .logo > img {
      width: auto;
      height: 100%; }

.top_nav {
  float: right; }
  .top_nav ul {
    margin: 0;
    padding: 0;
    list-style: none; }
    .top_nav ul li {
      float: left; }
      .top_nav ul li a {
        color: #fff;
        text-decoration: none;
        line-height: 70px;
        vertical-align: middle;
        display: block;
        height: 70px;
        margin-left: 10px;
        padding: 0 10px; }
        .top_nav ul li a:hover {
          background: #f16745; }

::selection {
  color: #f16745;
  background: #ffc65d; }

.wrap {
  background: #f16745; }
  @media (max-width: 767px) {
    .wrap {
      padding: 10px; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .wrap {
      padding: 10px; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    .wrap {
      padding: 10px; } }
  @media (min-width: 1200px) and (max-width: 1439px) {
    .wrap {
      padding: 10px 10% 0; } }
  @media (min-width: 1440px) {
    .wrap {
      padding: 10px; } }

.main_content {
  background: #f16745;
  box-sizing: border-box; }

figure {
  font-size: 0;
  box-sizing: border-box; }
  figure img {
    border: 2px solid #7bc8a4;
    box-sizing: border-box; }

figcaption {
  font-size: 11px;
  line-height: 16px;
  vertical-align: middle;
  color: #404040;
  text-align: center;
  background: #7bc8a4; }

.top_new {
  float: left;
  padding: 20px;
  margin: 10px;
  height: 700px;
  overflow: hidden;
  background: #fff;
  box-sizing: border-box; }
  @media (max-width: 767px) {
    .top_new {
      width: calc(100% - 20px); } }
  @media (min-width: 768px) and (max-width: 991px) {
    .top_new {
      width: calc(66% - 20px); } }
  @media (min-width: 992px) and (max-width: 1199px) {
    .top_new {
      width: calc(50% - 20px); } }
  @media (min-width: 1200px) and (max-width: 1439px) {
    .top_new {
      width: calc(50% - 20px); } }
  @media (min-width: 1440px) {
    .top_new {
      width: calc(40% - 20px); } }
  .top_new h2 {
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 4px; }
  .top_new p {
    font-size: 14px;
    line-height: 1.4; }
  .top_new header h1 {
    margin-top: 0;
    margin-bottom: 10px; }
  .top_new header time {
    font-size: 12px;
    color: #404040;
    float: left; }
    .top_new header time:before {
      content: 'Published: ';
      color: #f16745; }
  .top_new header .author {
    float: right;
    font-size: 12px;
    color: #404040; }
    .top_new header .author:before {
      content: 'Author: ';
      color: #f16745; }
  .top_new figure {
    width: 60%;
    float: left;
    margin: 5px 10px 5px 0; }

.sidebar {
  float: left;
  width: calc(25% - 20px);
  height: calc(350px - 10px);
  margin: 10px;
  padding: 20px;
  background: #ffc65d;
  box-sizing: border-box; }
  @media (max-width: 767px) {
    .sidebar {
      width: calc(100% - 20px); } }
  @media (min-width: 768px) and (max-width: 991px) {
    .sidebar {
      width: calc(33% - 20px); } }
  @media (min-width: 992px) and (max-width: 1199px) {
    .sidebar {
      width: calc(25% - 20px); } }
  @media (min-width: 1200px) and (max-width: 1439px) {
    .sidebar {
      width: calc(25% - 20px); } }
  @media (min-width: 1440px) {
    .sidebar {
      width: calc(20% - 20px); } }
  .sidebar h3 {
    font-size: 16px;
    margin-top: 0; }
  .sidebar ul {
    margin: 0;
    padding: 0;
    list-style: none; }
    .sidebar ul li {
      font-size: 13px;
      margin-bottom: 10px; }

.small_new {
  float: left;
  height: calc(350px - 10px);
  padding: 20px;
  margin: 10px;
  position: relative;
  overflow: hidden;
  background: #fff;
  box-sizing: border-box; }
  @media (max-width: 767px) {
    .small_new {
      width: calc(100% - 20px); } }
  @media (min-width: 768px) and (max-width: 991px) {
    .small_new {
      width: calc(33% - 20px); } }
  @media (min-width: 992px) and (max-width: 1199px) {
    .small_new {
      width: calc(25% - 20px); } }
  @media (min-width: 1200px) and (max-width: 1439px) {
    .small_new {
      width: calc(25% - 20px); } }
  @media (min-width: 1440px) {
    .small_new {
      width: calc(20% - 20px); } }
  .small_new:hover p {
    display: block;
    height: 100%;
    position: relative;
    background: rgba(255, 255, 255, 0.75);
    z-index: 1; }
  .small_new:hover .see_more {
    display: block; }
  .small_new h1 {
    font-size: 18px;
    float: left;
    position: relative;
    padding-left: 4px;
    padding-right: 4px;
    margin-top: 0;
    margin-right: 5px;
    margin-bottom: 4px;
    background: rgba(255, 255, 255, 0.75);
    border-right: 2px solid transparent;
    border-bottom: 2px solid transparent;
    z-index: 2; }
    .small_new h1:hover {
      background: #fff;
      border-color: #7bc8a4; }
    .small_new h1 a {
      border-bottom: 0; }
  .small_new .see_more_wrap {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden; }
  .small_new .see_more {
    line-height: 30px;
    vertical-align: middle;
    text-align: center;
    color: #fff;
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 30px;
    border-bottom: none;
    background: #4cc3d9;
    z-index: 3;
    box-shadow: 0 -15px 25px 5px #fff; }
    .small_new .see_more:hover {
      color: #fff;
      background: #7bc8a4; }
  .small_new p {
    display: none;
    font-size: 13px;
    margin-top: 0; }
  .small_new figure {
    position: absolute;
    top: 20px;
    right: 20px;
    bottom: 20px;
    left: 20px;
    margin: 0; }

.footer {
  background: #7bc8a4; }
