main, header, nav, footer, article, section, aside, figure, figcaption, fieldset, time {
  display: block; }

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }

.clearfix, .main_header, .top_nav ul, .wrap {
  zoom: 1; }
  .clearfix:before, .main_header:before, .top_nav ul:before, .wrap:before, .clearfix:after, .main_header:after, .top_nav ul:after, .wrap:after {
    content: '\0020';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0; }
  .clearfix:after, .main_header:after, .top_nav ul:after, .wrap:after {
    clear: both; }

.l, .main_header, .wrap, .footer {
  padding: 0 10%; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue', 'HelveticaNeue', sans-serif; }

a {
  color: #404040; }

.smooth_link, .main_content a {
  text-decoration: none;
  border-bottom: 1px solid rgba(64, 64, 64, 0.5); }
  .smooth_link:hover, .main_content a:hover {
    color: #4d4d4d;
    border-bottom-color: #404040; }

img {
  width: 100%;
  height: auto; }

.main_header {
  position: relative;
  height: 70px;
  background: #93648d; }
  .main_header .logo {
    display: block;
    height: 100%;
    float: left; }
    .main_header .logo > img {
      width: auto;
      height: 100%; }

.top_nav {
  float: right; }
  .top_nav ul {
    margin: 0;
    padding: 0;
    list-style: none; }
    .top_nav ul li {
      float: left; }
      .top_nav ul li a {
        color: #fff;
        text-decoration: none;
        line-height: 70px;
        vertical-align: middle;
        display: block;
        height: 70px;
        margin-left: 10px;
        padding: 0 10px; }
        .top_nav ul li a:hover {
          background: #f16745; }

.wrap {
  padding-top: 10px;
  background: #f16745; }

.main_content {
  background: #f16745;
  box-sizing: border-box; }

.top_new {
  float: left;
  width: calc(50% - 20px);
  padding: 20px;
  margin: 10px;
  height: 700px;
  overflow: hidden;
  background: #fff;
  box-sizing: border-box; }
  .top_new header h1 {
    margin-top: 0; }

.sidebar {
  float: left;
  width: calc(25% - 20px);
  height: calc(350px - 10px);
  margin: 10px;
  padding: 20px;
  background: #ffc65d;
  box-sizing: border-box; }
  .sidebar h3 {
    font-size: 16px;
    margin-top: 0; }
  .sidebar ul {
    margin: 0;
    padding: 0;
    list-style: none; }

.small_new {
  float: left;
  width: calc(25% - 20px);
  height: calc(350px - 10px);
  padding: 20px;
  margin: 10px;
  position: relative;
  overflow: hidden;
  background: #fff;
  box-sizing: border-box; }
  .small_new:hover {
    overflow: visible; }
    .small_new:hover p {
      display: block;
      height: 100%;
      position: relative;
      background: rgba(255, 255, 255, 0.75);
      z-index: 1; }
  .small_new h1 {
    font-size: 18px;
    float: left;
    position: relative;
    padding-left: 4px;
    padding-right: 4px;
    margin-top: 0;
    margin-right: 5px;
    margin-bottom: 4px;
    background: rgba(255, 255, 255, 0.75);
    border-right: 2px solid transparent;
    border-bottom: 2px solid transparent;
    z-index: 2; }
    .small_new h1:hover {
      background: #fff;
      border-color: #7bc8a4; }
    .small_new h1 a {
      border-bottom: 0; }
  .small_new p {
    display: none;
    font-size: 13px;
    margin-top: 0; }
  .small_new figure {
    font-size: 0;
    position: absolute;
    top: 20px;
    right: 20px;
    bottom: 20px;
    left: 20px;
    margin: 0;
    box-sizing: border-box; }
    .small_new figure img {
      max-height: calc(100% - 20px);
      border: 2px solid #7bc8a4;
      box-sizing: border-box; }
  .small_new figcaption {
    font-size: 11px;
    line-height: 16px;
    vertical-align: middle;
    color: #404040;
    text-align: center;
    background: #7bc8a4; }

.footer {
  background: #7bc8a4; }
