main, header, nav, footer, article, section, aside, figure, figcaption, fieldset, time {
  display: block;
}

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.clearfix {
  &:before,
  &:after {
    content: '\0020';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
  }
  &:after {
    clear: both;
  }
  zoom: 1;
}

.l {
  padding: 0 10%;
}


body {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue', 'HelveticaNeue', sans-serif;
}

a {
  color: $dark_gray;
}

.smooth_link {
  text-decoration: none;
  border-bottom: 1px solid transparentize($dark_gray,0.5);
  &:hover {
    color: lighten($dark_gray, 5%);
    border-bottom-color: $dark_gray;
  }
}

img {
  width: 100%;
  height: auto;
}

small {
  font-size: 75%;
}