$logo_width: 180px;
$header_height: 70px;
.main_header {
  position: relative;
  @extend .clearfix;
  @extend .l;
  background: $magenta;
  @include breakpoint(xs) {
    height: auto;
    .logo {
      float: none;
      height: auto;
      > img {
        width: 100%;
        height: auto;
      }
    }
  }
  @include breakpoint(sm) {
    height: $header_height;
    .logo {
      float: left;
      height: 100%;
      > img {
        width: auto;
        height: 100%;
      }
    }
  }
  .logo {
    display: block;
  }
}

.top_nav {
  @include breakpoint(xs) {
    float: none;
    ul {
      text-align: center;
      li {
        float: none;
        width: 100%;
        a {
          height: auto;
          line-height: 130%;
        }
      }
    }
  }
  @include breakpoint(sm) {
    float: right;
    ul {
      li {
        float: left;
      }
    }
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    @extend .clearfix;
    li {
      a {
        color: #fff;
        text-decoration: none;
        line-height: $header_height;
        vertical-align: middle;
        display: block;
        height: $header_height;
        margin-left: 10px;
        padding: 0 10px;
        &:hover {
          background: $orange;
        }
      }
    }
  }
}