$logo_width: 180px;
$header_height: 70px;
.main_header {
  position: relative;
  @extend .clearfix;
  @extend .l;
  height: $header_height;
  background: $magenta;
  .logo {
    display: block;
    height: 100%;
    float: left;
    > img {
      width: auto;
      height: 100%;
    }
  }
}

.top_nav {
  float: right;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    @extend .clearfix;
    li {
      float: left;
      a {
        color: #fff;
        text-decoration: none;
        line-height: $header_height;
        vertical-align: middle;
        display: block;
        height: $header_height;
        margin-left: 10px;
        padding: 0 10px;
        &:hover {
          background: $orange;
        }
      }
    }
  }
}