::selection {
  color: $orange;
  background: $yellow;
}

.wrap {
  @extend .clearfix;
  background: $orange;
  @include breakpoint(xs) {
    padding: 10px 5px;
  }
  @include breakpoint(sm) {
    padding: 10px;
  }
  @include breakpoint(md) {
    padding: 10px;
  }
  @include breakpoint(lg) {
    padding: 10px 10% 0;
  }
  @include breakpoint(xl) {
    padding: 10px;
  }
}

.main_content {
  background: $orange;
  box-sizing: border-box;
  a {
    @extend .smooth_link;
  }
}
figure {
  font-size: 0;
  box-sizing: border-box;
  img {
    border: 2px solid $green;
    box-sizing: border-box;
  }
}
figcaption {
  font-size: 11px;
  line-height: 16px;
  vertical-align: middle;
  color: $dark_gray;
  text-align: center;
  background: $green;
}

$top_new_height: 700px;
.top_new {
  float: left;
  padding: 20px;
  margin: 10px;
  height: $top_new_height;
  overflow: hidden;
  background: #fff;
  box-sizing: border-box;
  @include breakpoint(xs) {
    width: calc(100% - 20px);
    height: inherit;
  }
  @include breakpoint(sm) {
    width: calc(66% - 20px);
  }
  @include breakpoint(md) {
    width: calc(50% - 20px);
  }
  @include breakpoint(lg) {
    width: calc(50% - 20px);
  }
  @include breakpoint(xl) {
    width: calc(40% - 20px);
  }
  h2 {
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 4px;
  }
  p {
    font-size: 14px;
    line-height: 1.4;
  }
  header {
    @extend .clearfix;
    h1 {
      margin-top: 0;
      margin-bottom: 10px;
    }
    time {
      font-size: 12px;
      color: $dark_gray;
      float: left;
      &:before {
        content: 'Published: ';
        color: $orange;
      }
    }
    .author {
      float: right;
      font-size: 12px;
      color: $dark_gray;
      &:before {
        content: 'Author: ';
        color: $orange;
      }
    }
  }
  figure {
    width: 60%;
    float: left;
    margin: 5px 10px 5px 0;
  }
}

.sidebar {
  float: left;
  width: calc(25% - 20px);
  height: calc(#{$top_new_height/2} - 10px);
  margin: 10px;
  padding: 20px;
  background: $yellow;
  box-sizing: border-box;
  @include breakpoint(xs) {
    width: calc(100% - 20px);
    height: inherit;
  }
  @include breakpoint(sm) {
    width: calc(33% - 20px);
  }
  @include breakpoint(md) {
    width: calc(25% - 20px);
  }
  @include breakpoint(lg) {
    width: calc(25% - 20px);
  }
  @include breakpoint(xl) {
    width: calc(20% - 20px);
  }
  h3 {
    font-size: 16px;
    margin-top: 0;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      font-size: 13px;
      margin-bottom: 10px;
    }
  }
}


.small_new {
  float: left;
  margin: 10px;
  position: relative;
  overflow: hidden;
  background: #fff;
  box-sizing: border-box;
  @include breakpoint(xs) {
    width: calc(100% - 10px);
    height: inherit;
    padding: 10px 10px 40px;
    figure {
      position: relative;
      top: inherit;
      right: inherit;
      bottom: inherit;
      left: inherit;
      margin-bottom: 10px;
    }
    p {
      display: block;
    }
    .see_more {
      display: block;
    }
  }
  @include breakpoint(sm) {
    width: calc(33% - 20px);
    height: calc(#{$top_new_height/2} - 10px);
    padding: 20px;
    p {
      display: none;
    }
    figure {
      position: absolute;
      top: 20px;
      right: 20px;
      bottom: 20px;
      left: 20px;
      margin: 0;
    }
    .see_more_wrap {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      overflow: hidden;
      .see_more {
        display: none;
      }
    }
  }
  @include breakpoint(md) {
    width: calc(25% - 20px);
    height: calc(#{$top_new_height/2} - 10px);
    padding: 20px;
    p {
      display: none;
    }
    figure {
      position: absolute;
      top: 20px;
      right: 20px;
      bottom: 20px;
      left: 20px;
      margin: 0;
    }
    .see_more_wrap {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      overflow: hidden;
      .see_more {
        display: none;
      }
    }
  }
  @include breakpoint(lg) {
    width: calc(25% - 20px);
    height: calc(#{$top_new_height/2} - 10px);
    padding: 20px;
    p {
      display: none;
    }
    figure {
      position: absolute;
      top: 20px;
      right: 20px;
      bottom: 20px;
      left: 20px;
      margin: 0;
    }
    .see_more_wrap {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      overflow: hidden;
      .see_more {
        display: none;
      }
    }
  }
  @include breakpoint(xl) {
    width: calc(20% - 20px);
    height: calc(#{$top_new_height/2} - 10px);
    padding: 20px;
    p {
      display: none;
    }
    figure {
      position: absolute;
      top: 20px;
      right: 20px;
      bottom: 20px;
      left: 20px;
      margin: 0;
    }
    .see_more_wrap {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      overflow: hidden;
      .see_more {
        display: none;
      }
    }

  }
  &:hover {
    p {
      display: block;
      height: 100%;
      position: relative;
      background: transparentize(#fff, 0.25);
      z-index: 1;
    }
    .see_more {
      display: block;
    }
  }
  h1 {
    font-size: 18px;
    float: left;
    position: relative;
    padding-left: 4px;
    padding-right: 4px;
    margin-top: 0;
    margin-right: 5px;
    margin-bottom: 4px;
    background: transparentize(#fff,0.25);
    border-right: 2px solid transparent;
    border-bottom: 2px solid transparent;
    z-index: 2;
    &:hover {
      background: #fff;
      border-color: $green;
    }
    a {
      border-bottom: 0;
    }
  }
  .see_more {
    $see_more_height: 30px;
    line-height: $see_more_height;
    vertical-align: middle;
    text-align: center;
    color: #fff;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: $see_more_height;
    border-bottom: none;
    background: $blue;
    z-index: 3;
    box-shadow: 0 -15px 25px 5px #fff;
    &:hover {
      color: #fff;
      background: $green;
    }
  }
  p {
    font-size: 13px;
    margin-top: 0;
  }
}