.wrap {
  @extend .l;
  @extend .clearfix;
  padding-top: 10px;
  background: $orange;
}

.main_content {
  background: $orange;
  box-sizing: border-box;
  a {
    @extend .smooth_link;
  }
}

$top_new_height: 700px;
.top_new {
  float: left;
  width: calc(50% - 20px);
  padding: 20px;
  margin: 10px;
  height: $top_new_height;
  overflow: hidden;
  background: #fff;
  box-sizing: border-box;
  header {
    h1 {
      margin-top: 0;
    }
  }
}

.sidebar {
  float: left;
  width: calc(25% - 20px);
  height: calc(#{$top_new_height/2} - 10px);
  margin: 10px;
  padding: 20px;
  background: $yellow;
  box-sizing: border-box;
  h3 {
    font-size: 16px;
    margin-top: 0;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}


.small_new {
  float: left;
  width: calc(25% - 20px);
  height: calc(#{$top_new_height/2} - 10px);
  padding: 20px;
  margin: 10px;
  position: relative;
  overflow: hidden;
  background: #fff;
  box-sizing: border-box;
  &:hover {
    overflow: visible;
    p {
      display: block;
      height: 100%;
      position: relative;
      background: transparentize(#fff, 0.25);
      z-index: 1;
    }
  }
  h1 {
    font-size: 18px;
    float: left;
    position: relative;
    padding-left: 4px;
    padding-right: 4px;
    margin-top: 0;
    margin-right: 5px;
    margin-bottom: 4px;
    background: transparentize(#fff,0.25);
    border-right: 2px solid transparent;
    border-bottom: 2px solid transparent;
    z-index: 2;
    &:hover {
      background: #fff;
      border-color: $green;
    }
    a {
      border-bottom: 0;
    }
  }
  p {
    display: none;
    font-size: 13px;
    margin-top: 0;
  }
  figure {
    font-size: 0;
    position: absolute;
    top: 20px;
    right: 20px;
    bottom: 20px;
    left: 20px;
    margin: 0;
    box-sizing: border-box;
    img {
      max-height: calc(100% - 20px);
      border: 2px solid $green;
      box-sizing: border-box;
    }
  }
  figcaption {
    font-size: 11px;
    line-height: 16px;
    vertical-align: middle;
    color: $dark_gray;
    text-align: center;
    background: $green;
  }
}